<div layout="column" layout-padding>
  <md-input-container>
    <label>
      Course Name:
    </label>
    <input type="text" ng-model="partyAdd.party.name" required/>
  </md-input-container>
  <md-input-container>
    <label>
      Description:
    </label>
    <input type="text" ng-model="partyAdd.party.description" required/>
  </md-input-container>
  <md-input-container>
    <label>
      Number Of Credits:
    </label>
    <input type="number" ng-model="partyAdd.party.credits" required/>
  </md-input-container>
  <div flex>
    <md-checkbox ng-model="partyAdd.party.public" aria-label="Public Party?">
      Public Course?
    </md-checkbox>
  </div>
  <div flex>
    <md-button ng-click="partyAdd.submit()" class="md-raised">Add Course!</md-button>
  </div>
</div>
