<div layout="column" layout-padding>

  <div>
  <h2 class="md-display-1">List of Students</h2>
  </div>
  <ul ng-repeat = "user in partiesList.users">
    <li><a ng-click="partiesList.test(user)">{{user.username}}</a></li>
  </ul>

  <h1 ng-show="!partiesList.isStudent && partiesList.isLoggedIn">Add Courses</h1>
  <party-add ng-show="!partiesList.isStudent && partiesList.isLoggedIn && !partiesList.showButton"></party-add>
  <div ng-hide="partiesList.isLoggedIn">
    <i>Log in to create a courses!</i>
  </div>


  <party-add-button ng-show="!partiesList.isStudent && partiesList.isLoggedIn && partiesList.showButton"></party-add-button>

  <div flex>
    <h2 class="md-display-1">List of the courses:</h2>
  </div>

  <div flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="partiesList.searchText">
    </md-input-container>

    <parties-sort on-change="partiesList.sortChanged(sort)" property="name" order="1"></parties-sort>
  </div>

  <div layout="column" layout-gt-sm="row">
    <div flex="50">
      <md-card dir-paginate="party in partiesList.parties | itemsPerPage: partiesList.perPage" total-items="partiesList.partiesCount">

        <article class="underline">
          <h1><a ui-sref="partyDetails({ partyId: party._id })">{{party.name}}</a></h1>
          <party-remove party="party" ng-show="partiesList.isOwner(party)"></party-remove>
          <h2>Number Of Credits: {{party.credits}}</h2>
          <p>{{party.description}}</p>
        </article>

        <md-card-content>
          <party-creator party="party"></party-creator>
        </md-card-content>



      </md-card>
      <div layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="partiesList.test()" aria-label="test">Test</md-button>
      </div>
      <dir-pagination-controls on-page-change="partiesList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>

  </div>
</div>
